:root
{
    /* Constants */
    --screen-width: 95vw;
    --screen-height: 95vh;
    --screen-width: 100svw;
    --screen-height: 100svh;
    
    --debug-border: 2px;
    --debug-color1: yellow;
    --debug-color2: blue;
    --debug-color3: red;

    --one-rem-in-vw: 0.833vw;
    --one-rem-in-vh: 1.6vh;
    --one-rem-in-vw: 0.833svw;
    --one-rem-in-vh: 1.6svh;

    /* Calculated */
    --view-padding: var(--one-rem-in-wh);
    
    --monster-view-height: calc(var(--screen-height)  * (3/9));
    --monster-view-section-count: 3;

    --menu-view-height: calc(var(--screen-height) * (2/9));

    --subview-width: calc(var(--one-rem-in-vw) * 18);
    --subview-margin: calc(var(--one-rem-in-vh) * 0.25);
    --subview-padding: calc(var(--one-rem-in-vh) * 0.5);
    /* --subview-height: fit-content; */

    --hud-border: calc(var(--one-rem-in-vh) * 0.125);
    --hud-align-self: flex-start;
    --hud-padding: calc(var(--one-rem-in-vh) * 0.75);
    --hud-font-size: var(--hud-font-size);

    --sprite-width: calc(var(--screen-width) / 7);
    --sprite-border: calc(var(--one-rem-in-vh) * 0.0625);
}


main
{
    display: flex;
    flex-direction: column;
    max-height: var(--screen-height);
}


#title-screen
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: var(--screen-height);
}

#character-selection-screen
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--screen-height);
}

#character-review-screen
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: var(--screen-height);
}

#completion-screen
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: var(--screen-height);
}

#game-over-screen
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: var(--screen-height);
}


.monster-view
{
    display: flex;
    justify-content: space-between;
    padding: var(--view-padding);
    width: var(--screen-width);
    height: var(--monster-view-height);
    /* Debug Code: */
    /* border: var(--debug-border) solid var(--debug-color1); */
}

.hud
{
    width: var(--subview-width);
    border: var(--hud-border) solid black;
    align-self: var(--hud-align-self);
    padding: var(--hud-padding);
    font-size: var(--hud-font-size);
}

.sprite
{
    width: var(--sprite-width);
    border: var(--sprite-border) solid black;
}


#menu-view
{
    display: flex;
    justify-content: space-between;
    height: var(--menu-view-height);
    /* Debug Code: */
    border: var(--debug-border) solid var(--debug-color2);
}

#menu-view > *
{
    width: var(--subview-width);
    margin: var(--subview-margin);
    padding: var(--subview-padding);
    /* Debug Code: */
    border: var(--debug-border) solid var(--debug-color3);
}

.menu
{
    display: flex;
    flex-direction: column;
}


button
{
    display: block;
    width: var(--subview-width);
}


.bold
{
    font-weight: bold;
}

.center
{
    text-align: center;
}

.align-right
{
    float: right;
}

.hide
{
    display: none !important;
}
