:root
{
    --screen-width: 95vw;
    --screen-height: 95vh;
    
    --debug-border: 2px;
    --debug-color1: yellow;
    --debug-color2: blue;
    --debug-color3: red;

    --view-padding: 1rem;
    
    --monster-view-height: calc(var(--screen-height)  * (3/9));
    --monster-view-section-count: 3;

    --menu-view-height: calc(var(--screen-height) * (2/9));

    --subview-width: 18rem;
    --subview-margin: 0.25rem;
    --subview-padding: 0.5rem;
    /* --subview-height: fit-content; */

    --hud-border: 0.125rem;
    --hud-align-self: flex-start;
    --hud-padding: 0.75rem;
    --hud-font-size: var(--hud-font-size);

    --sprite-width: calc(var(--screen-width) / 7);
    --sprite-border: 0.0625rem;
}


main
{
    display: flex;
    flex-direction: column;
    max-height: var(--screen-height);
}


#title-screen
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: var(--screen-height);
}

#character-selection-screen
{
    /* display: flex; Hidden by default.*/
    justify-content: center;
    align-items: center;
    height: var(--screen-height);
}

#character-review-screen
{
    /* display: flex; Hidden by default.*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: var(--screen-height);
}

#completion-screen
{
    /* display: flex; Hidden by default.*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: var(--screen-height);
}

#game-over-screen
{
    /* display: flex; Hidden by default.*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: var(--screen-height);
}


.monster-view
{
    display: flex;
    justify-content: space-between;
    padding: var(--view-padding);
    width: var(--screen-width);
    height: var(--monster-view-height);
    /* Debug Code: */
    /* border: var(--debug-border) solid var(--debug-color1); */
}

.hud
{
    width: var(--subview-width);
    border: var(--hud-border) solid black;
    align-self: var(--hud-align-self);
    padding: var(--hud-padding);
    font-size: var(--hud-font-size);
}

.sprite
{
    width: var(--sprite-width);
    border: var(--sprite-border) solid black;
}


#menu-view
{
    display: flex;
    justify-content: space-between;
    height: var(--menu-view-height);
    /* Debug Code: */
    border: var(--debug-border) solid var(--debug-color2);
}

#menu-view > *
{
    width: var(--subview-width);
    margin: var(--subview-margin);
    padding: var(--subview-padding);
    /* Debug Code: */
    border: var(--debug-border) solid var(--debug-color3);
}


button
{
    display: block;
    width: var(--subview-width);
}


.bold
{
    font-weight: bold;
}

.center
{
    text-align: center;
}

.align-right
{
    float: right;
}

.show
{
    display: flex;
}

.hide
{
    display: none;
}
